<!doctype html>
<title>Plip</title>
<div class=page>
  <pre style="font-size: 16px;">
  </pre>
  <hr>
  <p style="font-weight: bold;">Search by switch name/port</p>
  <form method="get" action="pxe">
    <table>
    <tbody>
      <tr>
        <td>Switch name:</td>
        <td><input name="switch_name" type="text" value="A2-25-1.syd2"> <em>(Example: <code>A2-25-1.syd2</code>)</em></td>
      </tr>
      <tr>
        <td>Switch port:</td>
        <td><input name="switch_port" type="text" value="Gi1/7"> <em>(Example: <code>Gi1/7</code>)</em></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td style="text-align: left;"><input type="submit" value="Get PXE script"></td>
      </tr>
    </tbody>
    </table>
  </form>
  <hr>
  <p style="font-weight: bold;">Search by server number</p>
  <form method="get" action="pxe">
    <table>
    <tbody>
      <tr>
        <td>Server number:</td>
        <td><input name="number" type="text" value="1"> <em>(Example: <code>545304</code>)</em></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td style="text-align: left;"><input type="submit" value="Get PXE script"></td>
      </tr>
    </tbody>
    </table>
  </form>
  <hr>
  <p style="font-weight: bold;">Search by mac address</p>
  <form method="get" action="pxe">
    <table>
    <tbody>
      <tr>
        <td>MAC address:</td>
        <td><input name="mac" type="text" value="00:8c:fa:1c:51:6c"> <em>(Example: <code>00:8c:fa:1c:51:6c</code>)</em></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td style="text-align: left;"><input type="submit" value="Get PXE script"></td>
      </tr>
    </tbody>
    </table>
  </form>
</div>
