<!doctype html>
<title>Plip</title>
<div class=page>
  <pre style="font-size: 16px;">
  </pre>
  <hr>
  <p style="font-weight: bold;">Search by switch name/port</p>
  <form method="get" action="pxe">
    <table>
    <tbody>
      <tr>
        <td>Switch name:</td>
        <td><input name="switch_name" type="text" value="servers-lab-1.sat6"> <em>(Example: <code>servers-lab-1.sat6</code>)</em></td>
      </tr>
      <tr>
        <td>Switch port:</td>
        <td><input name="switch_port" type="text" value="Ethernet1/6"> <em>(Example: <code>Ethernet1/6</code>)</em></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td style="text-align: left;"><input type="submit" value="Get PXE script"></td>
      </tr>
    </tbody>
    </table>
  </form>
  <hr>
  <p style="font-weight: bold;">Search by server number</p>
  <form method="get" action="pxe">
    <table>
    <tbody>
      <tr>
        <td>Server number:</td>
        <td><input name="number" type="text" value="4"> <em>(Example: <code>4</code>)</em></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td style="text-align: left;"><input type="submit" value="Get PXE script"></td>
      </tr>
    </tbody>
    </table>
  </form>
  <hr>
  <p style="font-weight: bold;">Search by mac address</p>
  <form method="get" action="pxe">
    <table>
    <tbody>
      <tr>
        <td>MAC address:</td>
        <td><input name="mac" type="text" value="b8:ca:3a:62:b3:c8"> <em>(Example: <code>b8:ca:3a:62:b3:c8</code>)</em></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td style="text-align: left;"><input type="submit" value="Get PXE script"></td>
      </tr>
    </tbody>
    </table>
  </form>
</div>
